/* ROOT */
a:active,
a:hover,
a:visited,
a:link,
a {text-decoration: none; color: var(--color);}

.center-horizontal{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.content-divider {
  border-top: 1px solid #eaeaea;
  margin: 15px 0px;
  clear: both;
  width: 100%;
}
/* ROOT END */
:root{
  --font-color: black;
}
body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100dvh;
  color: var(--font-color);
}
/* HEADER */
header{
  padding: 32px 128px;
  font-size: x-large;
}
header ul{
  justify-content: space-between;
}
header li a{
  padding: 0 12px;
}
/* MAIN */
/* FOOTER */
.flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.section-index{
  margin: 0 128px;
}
.section-index div{

}

ul,li{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}