@font-face {
  font-family: terminal;
  src: url(../font/terminal.ttf);
}
:root {
  --sidebar: #010409;
  --backgound-color: #0d1117;
  --backgound-color-inner: #161B22;
  --divider: #21262d;
  --sub-divider: #30363d;
  --color: white;
  --sub-text: #ffffffa1;
  --link: #1f6feb;
  --hover: rgba(185, 160, 106, 0.333);
  --borderWidth: 3px;
  --menu: calc(-100dvh + 50px);
  --input: #F9F1A5;
  --error: #E74856;
}
body {
  background-color: var(--backgound-color);
  overflow-x: hidden;
  color: var(--color);
  font-family: cyberpunk;
}
button {
  color: var(--color);
}
header {
  z-index: 255;
  background-color: var(--sidebar);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--divider);
}
header div:nth-child(1){
  height: 20px;
}
header div:nth-child(2){
  height: 50px;
}
header div:nth-child(3){
  height: 30px;
}
h6 {
  font-size: 1200%;
  width: 100%;
  text-align: center;
  margin: 0;
}
h5 {
  font-size: 200%;
  width: 100%;
  text-align: center;
  margin: 0;
}
i {
  color: var(--color);
}
li{
  margin: 0 12px;
  user-select: text !important;
}
.active,
.select li{
  margin-bottom: 2px;
}
.active{
  border-bottom: solid 2px var(--color);
}
.select li:hover{
  margin-bottom: 0px;
  border-bottom: solid 2px var(--sub-text);
}
.menu-btn{
  height: calc(100% + 2px);
}
.select{
  height: 31px;
}
section {
  visibility: hidden;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  padding: 1rem;
}
ul{
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
strong {
  position: relative;
  bottom: 0;
  display:block;
  width: 100%;
  text-align: center;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  background: var(--divider);
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/* SPLASH*/
.splash-intro {
  position: fixed;
  z-index: 256;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--sidebar);
  transition: 1s
}
.splash-logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #fff;
  display: flex;
  flex-direction: row
}
.splash-logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-family: Dimitra;
  margin-top: 50px
}
.splash-logo.active {
  bottom: 0;
  opacity: 1;
  transition: .5s ease-in-out
}
.splash-logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: .5s ease-in-out
}

/* Transition */
.transition-true {
  position: fixed;
  z-index: -256;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backgound-color);
  margin-top: 100px;
  /* border-top: 1px solid var(--divider); */
  opacity: 0;
  transition: .5s ease-in-out
}
.transition-false {
  position: fixed;
  z-index: 256;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backgound-color);
  margin-top: 100px;
  /* border-top: 1px solid var(--divider); */
  opacity: 100;
  transition: .5s ease-in-out
}

/* ICONS */
.bi-list{
  height: 30px;
  width: 30px;
  font-size: 28px;
}
.bi-code{
  position: relative;
  bottom: -1px;
  margin-right: 8px;
}
.bi-dot{
  margin-left: 15px;
}
.bi-caret-down-fill,
.bi-link,
.bi-caret-right-fill{
  margin-right: 5px;
}

/* MAIN */
.visible{
  visibility: visible;
  display: flex;
}

/* HOME */

.headbodyscript{
  width: fit-content;
  font-size: x-small;
  text-shadow: 2px 2px var(--divider);
  cursor:pointer;
}
.headbodyscript p{
  position: relative;
  top: 24px;
}
.p-a-top,
.p-a-bottom{
  width: max-content;
  width: calc(100% - 32px);
}
.p-a-top{
  position: absolute;
  top: 100px;
}
.p-a-bottom{
  position: absolute;
  bottom: 40px;
}
.p-a-top h6:not(.fade),
.p-a-top h5:not(.fade),
.p-a-bottom h6:not(.fade),
.p-a-bottom h5:not(.fade){
  opacity: 100;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}
.fade{
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}
.list-links{
  position: relative;
  top: 71px;
}

/* BOXES */
.box-container div{
  top: 35%;
  transform: translate(0, -50%);
}
.box-container div:nth-child(1){
  height: 35%;
  left: 20%;
  animation: 15s ease-in-out infinite hover
}
.box-container div:nth-child(2){
  height: 20%;
  left: 5%;
  animation: 18s ease-in-out infinite hover
}
.box-container div:nth-child(3){
  height: 20%;
  right: 5%;
  animation: 9s ease-in-out infinite hover
}
.box-container div:nth-child(4){
  height: 35%;
  right: 20%;
  animation: 12s ease-in-out infinite hover
}
.box{
  z-index: -10;
  overflow-x: none;
  position: absolute;
  aspect-ratio: 1/1;
  border-style: solid;
  border-radius: 1px;
  border-color: var(--divider);
  transform: rotate(45deg);
}
.container{
  width: 100%;
  position: relative;
}
.float-center{
  position: absolute;
  right     : 50%;
  transform : translate(50%, 0);
}
.float-right{
  position: absolute;
  right     : 0;
}
.float-right-login{
  position: absolute;
  right     : 0;
}
.bottom{
  position: relative;
  top: 20px;
}
.reset{
  padding: 0;
}
.user{
  height: 50px !important;
  z-index: 255;
}
.user li,
.user li button{
  height: 50px;
}
.user li img{
  position: relative;
  top: 5px;
}
.user-icon{
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-size: contain;
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}


/* MATER BOX */
#box {
  position: absolute;
  height: 60%;
  aspect-ratio: 1/1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(45deg);
}
.master-box {
  background: var(--divider);
  position: relative;
  border-radius: var(--borderWidth);
}
.master-box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.master-cover{
  position: absolute;
  height: 60%;
  aspect-ratio: 1/1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(45deg);
  background-color: var(--divider);
}
.master-img{
  width: 60vh;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* REPOSITORIES */
.card{
  width: 25%;
  background-color: #0d1117;
  margin-bottom: 42px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-container{
  background-color: var(--backgound-color);
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: var(--sub-divider);
  margin-left: 5px;
  margin-right: 5px;
}
.card-header{
  background-color: var(--backgound-color-inner);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.card-header div{
  position: relative;
  top: 16px;
}
.card-header div p:nth-child(2){
  position: relative;
  bottom: 18px;
  margin-left: 8px;
}
.card-header div p:nth-child(3){
  position: relative;
  bottom: 12px;
  margin-left: 8px;
  color: var(--sub-text);
  font-size: smaller;
}
.card-header-small{
  background-color: var(--backgound-color-inner);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 25px;
  margin: 0;
  padding: 0;
}
.card-header-small i,
.card-header-small p{
  position: relative;
  top: 3px;
  margin: 0;
  font-size: smaller;
  margin-left: 8px;
}
.card-spacer{
  margin-top: 16px;
}
.card-menu{
  margin: 0 6px 8px 6px;
  width: calc(100% - 12px);
}
.card-pre{
  margin: 0;
  height: 22px;
}
.para{
  font-size: smaller;
  margin-right: 2px;
}
.border {
  min-height: 40px;
  border: 1px;
  border-top-style: solid;
  border-top-color: var(--sub-divider);
  margin: 0;
  padding: 0;
}
.bi-chevron-right,
.git-content{
  position: relative;
  top: 9px;
  margin: 0;
  font-size: smaller;
  margin-left: 8px;
}
.readme {
  height: auto;
  min-height: 60px;
  max-height: 200px;
  word-wrap: break-word;
  overflow: auto;
}
.link{
  color: var(--link);
}
.color{
  color: var(--color);
}
.icon {
  border-radius: 100%;
  height: 20px;
  margin-left: 16px;
}
.git-button{
  width: 100%;
}
.git-icon{
  margin-left: 18px;
  margin-bottom: 6px;
  border-radius: 100%;
  height: 20px;
}
.git-text{
  position: relative;
  left: 10px;
  margin: 0;
  font-size: small;
}
.git-img{
  display: none;
  width: 100%;
}
.git-contributions{
  position: relative;
  left: 18px;
  top: 2px;
  margin: 0;
  color: var(--sub-text);
  font-size: x-small;
}
.bi-hdd-stack{
  position: relative;
  bottom: 1px;
}
.visit p{
  position: relative;
  bottom: 1px;
}
.space-between{
  justify-content: space-between;
}
.bi-chevron-right,
.visit p,
.visit{
  margin: 0;
  margin-left: 8px;
}
.visit{
  border-radius: 3px;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  padding: 2px 6px;
}
.inner-readme{
  position: relative;
  left: 10px;
  top: 10px;
  width: calc(100% - 10px);
  min-height: 50px;
  
  margin: 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.bi-cursor{
  top: 0px !important;
  right: 8px;
}

.menu-container{
  width: 100dvw;
  height: 50px;
  z-index: 256;
  position: fixed;
  top: 0;
}
.w{
 width: 100%;
}
.phone{
  display: none;
}
.desktop{
  display: block;
}
.menu{
  position: fixed;
  top: 0;
}
.phone button{
  width: 50px;
}
#login{
  border-bottom: 0px !important;
}
/* ANIMATION */
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}
@keyframes hover {
  0% {
    -webkit-transform:translateY(25%)rotate(45deg)
  }
50% {
    -webkit-transform: translateY(-25%)rotate(45deg);
    transform:translateY(-25%)rotate(45deg)
  }
100% {
    -webkit-transform: translateY(25%)rotate(45deg);
    transform:translateY(25%)rotate(45deg)
  }
}
/* MEDIA */
@media only screen and (max-width: 1920px) {
  .card{
    width: 33.33%;
  }
}
@media only screen and (max-width: 1280px) {
  .card{
    width: 50%;
  }
}
@media only screen and (max-width: 800px) {
  /* head */
  .float-right-login{
    position: absolute;
    left     : 0;
  }
  .phone-center{
    text-align: center;
  }
  header{
    top: var(--menu);
    height: 100dvh;
    transition: 0.7s
  }
  header div:nth-child(1){
    height: 50px;
  }
  header div:nth-child(2){
    height: 50px;
  }
  header div:nth-child(3){
    height: fit-content;
    width: 100%;
  }
  header div:nth-child(3) .row{
    flex-direction: column;
  }
  header div:nth-child(3) ul{
    height: fit-content;
    width: 100%;
  }
  header div:nth-child(3) ul li{
    padding: 4px 0;
  }
  .select li:hover{
    border-bottom: solid 0px var(--color);
  }
  .float-right:nth-child(1){
    left: 0;
  }
  .phone{
    display: block;
  }
  .phone-inline{
    display: inline-block;
  }
  .desktop{
    display: none;
  }
  .headbodyscript p{
    position: relative;
    top: 6px;
  }
  .active,
  .select li{
    margin-bottom: 0;
  }
  /*  */
  .card{
    width: 100%;
  }
  .card-container{
    margin-left: 0;
    margin-right: 0;
  }
  .float-center{
    position: absolute;
    left     : 10px;
    transform : translate(0, 0);
  }
  .bi-code{
    display: none;
  }
  li {
    margin: 0 8px;
  }
  h6 {
    font-size: 400%;
  }
  h5 {
    font-size: 100%;
  }
  .master-cover{
    height: 40%;
  }
  #box{
    height: 40%;
  }
  .master-img{
    width: 40vh;
  }
}
.menu-repo{
  display: none;
  height: 50px;
  width: 100%;
  background-color: #07b39b;
  margin-bottom: 12px;
}
.divider{
  border-top: 1px solid var(--divider);
}
.pad{
  margin: 0;
  padding: 10px 20px;
  width: 160px !important;
}
.terminal{
  font-family: terminal;
  margin: 0;
  width: fit-content;
}
.code {
  margin-left: 8px;
  color: var(--input);
}
.code-spacebar {
  margin-left: 8px;
  color: var(--input);
  margin-right: 18px;
}
.error {
  color: var(--error);
  margin: 0;
}
.blank {
  opacity: 0;
}
.underscore {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}