:root {
  --sidebar: #010409;
  --backgound-color: #0d1117;
  --backgound-color-inner: #161B22;
  --divider: #21262d;
  --sub-divider: #21262D;
  --color: white;
  --sub-text: #dddddd;
  --link: #1f6feb;
  --hover: rgba(185, 160, 106, 0.333);
  --borderWidth: 3px;
}
body {
  background-color: var(--backgound-color);
  overflow-x: hidden;
  color: var(--color);
  font-family: cyberpunk;
}
button {
  color: var(--color);
}
header {
  z-index: 10;
  background-color: var(--sidebar);
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--divider);
}
header div:nth-child(1){
  height: 30px;
}
header div:nth-child(2){
  height: 40px;
}
header div:nth-child(3){
  height: 30px;
}
h6 {
  font-size: 1200%;
  width: 100%;
  text-align: center;
  margin: 0;
}
h5 {
  font-size: 200%;
  width: 100%;
  text-align: center;
  margin: 0;
}
i {
  color: var(--color);
}
li{
  padding-bottom: 6px;
  margin: 0 12px;
  user-select: text !important;
}
.select{
  height: 31px;
}
.select li:hover{
  border-bottom: solid 2px var(--color);
}
section {
  visibility: hidden;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 100px;
  min-height: calc(100vh - 100px);
  padding: 1rem;
}
ul{
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
strong {
  position: relative;
  bottom: 0;
  display:block;
  width: 100%;
  text-align: center;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  background: var(--divider);
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
  background: none;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

/* SPLASH*/
.splash-intro {
  position: fixed;
  z-index: 256;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--sidebar);
  transition: 1s
}
.splash-logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #fff;
  display: flex;
  flex-direction: row
}
.splash-logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-family: Dimitra;
  margin-top: 50px
}
.splash-logo.active {
  bottom: 0;
  opacity: 1;
  transition: .5s ease-in-out
}
.splash-logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: .5s ease-in-out
}

/* Transition */
.transition-true {
  position: fixed;
  z-index: 256;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backgound-color);
  margin-top: 100px;
  border-top: 1px solid var(--divider);
  opacity: 0;
  transition: .5s ease-in-out
}
.transition-false {
  position: fixed;
  z-index: 256;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--backgound-color);
  margin-top: 100px;
  border-top: 1px solid var(--divider);
  opacity: 100;
  transition: .5s ease-in-out
}

/* ICONS */
.bi-code{
  margin-right: 8px;
}
.bi-dot{
  margin-left: 15px;
}
.bi-caret-down-fill,
.bi-link,
.bi-caret-right-fill{
  margin-right: 5px;
}

/* MAIN */
.visible{
  visibility: visible;
  display: flex;
}

/* HOME */
.headbodyscript{
  width: fit-content;
  font-size: x-small;
  text-shadow: 2px 2px var(--divider);
  cursor:pointer;
}
.headbodyscript p{
  margin: 0;
}
.p-a-top,
.p-a-bottom{
  width: max-content;
  width: calc(100% - 32px);
}
.p-a-top{
  position: absolute;
  top: 100px;
}
.p-a-bottom{
  position: absolute;
  bottom: 40px;
}
.p-a-top h6:not(.fade),
.p-a-top h5:not(.fade),
.p-a-bottom h6:not(.fade),
.p-a-bottom h5:not(.fade){
  opacity: 100;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}
.fade{
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.list-links{
  position: relative;
  top: 71px;
}

.user-icon{
  position: relative;
  top: 4px;
  width: 30px;
  height: 30px;
  background-image: url(../img/user.png);
  background-size: contain;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.master-img{
  max-width: 60vh;
  width: auto;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* BOXES */
.box-container div{
  top: 35%;
  transform: translate(0, -50%);
}
.box-container div:nth-child(1){
  height: 35%;
  left: 20%;
  animation: 15s ease-in-out infinite hover
}
.box-container div:nth-child(2){
  height: 20%;
  left: 5%;
  animation: 18s ease-in-out infinite hover
}
.box-container div:nth-child(3){
  height: 20%;
  right: 5%;
  animation: 9s ease-in-out infinite hover
}
.box-container div:nth-child(4){
  height: 35%;
  right: 20%;
  animation: 12s ease-in-out infinite hover
}
.box{
  z-index: -10;
  overflow-x: none;
  position: absolute;
  aspect-ratio: 1/1;
  border-style: solid;
  border-radius: 1px;
  border-color: var(--divider);
  transform: rotate(45deg);
}

/* CHALLENGES */
.card{
  margin-top: 50px;
  min-width: 33.33%;
  max-width: 33.33%;
  background-color: #0d1117;
}
.card-container{
  background-color: var(--backgound-color);
  border: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: var(--divider);
  margin-left: 5px;
  margin-right: 5px;
}
.card-header{
  background-color: var(--backgound-color-inner);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.link{
  color: var(--link);
}
.readme {
  height: 200px;
  overflow: auto;
}
.border {
  border: 1px;
  border-top-style: solid;
  border-top-color: var(--sub-divider) ;
}
.icon {
  border-radius: 100%;
  height: 20px;
  float: right;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

@keyframes hover {
  0% {
    -webkit-transform:translateY(25%)rotate(45deg)
  }
50% {
    -webkit-transform: translateY(-25%)rotate(45deg);
    transform:translateY(-25%)rotate(45deg)
  }
100% {
    -webkit-transform: translateY(25%)rotate(45deg);
    transform:translateY(25%)rotate(45deg)
  }
}
.container{
  width: 100%;
  position: relative;
}
.float-center{
  position: absolute;
  right     : 50%;
  transform : translate(50%, 0);
}
.float-right{
  position: absolute;
  right     : 0;
}

.bottom{
  position: relative;
  top: 20px;
}
.reset{
  padding: 0;
}
.user li,
.user li button{
  height: 40px;
}
.user li img{
  position: relative;
  top: 5px;
}



/* MATER BOX */
#box {
  position: absolute;
  height: 60%;
  aspect-ratio: 1/1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(45deg);
}
.master-box {
  background: var(--divider);
  position: relative;
  border-radius: var(--borderWidth);
}
.master-box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
.master-cover{
  position: absolute;
  height: 60%;
  aspect-ratio: 1/1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%)rotate(45deg);
  background-color: var(--divider);
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

