.logo {
    max-width: 64px;
    max-height: 64px;
}

.d-flex-logo {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:1940px) {
    .d-flex-logo {
    flex-direction: column;
    }
}
@media screen and (max-width:1940px) {
    .align-items-end {
    align-items: start;
    }
}

@media screen and (max-width:1940px) {
    .img-right {
    display: block;
    margin-right: auto
    }
}
