:root {
    --primary-color: #6200ea;
    --secondary-color: #03dac6;
    --error-color: #b00020;
    --background-color: #fafafa;
    --text-color: #000000;
    --header: 200px;
    --footer: 200px;
}
html * {
    font-family: Roboto, sans-serif;
    /* font-size: 16px;
    margin: 0;
    padding: 0;
    color: var(--text-color); */
}

html {

}

body {
    color: black;
    background-color: hsl(0, 0%, 96%);
}

.shadow{
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}
