:root{
    --ui-layout-gutter   : 1.5rem;
}
a{color: black;}
section{
    font-size: larger;
    padding: 0 32px;
}

main{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ui-info-content{
    width: 400px;
}
.ui-info-content p,
.ui-info-content h1{
    text-align: right;
    width: 100%;
}
.ui-info-content a{
    text-align: right;
    width: calc(50% - 16px);
}
.ui-info-content .visit{
    border-radius: 8px;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
    padding: 4px 4px;
    height: 28px;
}
.ui-info-content .visit-black{
    border-radius: 8px;
    background: black;
    padding: 4px 4px;
    height: 28px;
}
.ui-info-content .visit p,
.ui-info-content .visit-black p{
    height: 100%;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}
.ui-info-button{
    width: 100%;
    margin: 21px 0;
}

.bi-cloud-arrow-down,
.bi-play-fill,
.bi-link-45deg,
.bi-x{
    position: relative;
    top: 1px;
}
.ui-info{
    display: flex;
    justify-content: right;
    align-items: center;
}



img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

.ui-image-half-right {
    height: 300px;
    width: 300px;
    margin-right: 32px;
  }
.ui-section{
    width: calc(100% - 300px - 32px);
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.ui-layout-container{
    margin: 32px 0;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 0 0 25px 25px rgba(255, 255, 255, 0.5);
}
/*--------------------------------------------------------------
6.0 COMPONENT
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|
| 6.1 CTA
|
--------------------------------------------------------------*/

.ui-component-cta {
    flex-direction: column;
    row-gap: var(--ui-gap-cta);
  }
  
  /*--------------------------------------------------------------
  |
  | 6.2 BUTTON
  |
  --------------------------------------------------------------*/
  
  .ui-component-button {
    border: .0625rem solid var(--ui-color-brand);
    border-radius: var(--ui-radius-button);
    display: block;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
  }
  
  .ui-component-button-primary {
    background-color: var(--ui-color-brand);
    color: var(--ui-color-typography-button);
  }
  
  .ui-component-button-secondary {
    background-color: var(--ui-color-background-primary);
    color: var(--ui-color-brand);
  }
  
  .ui-component-button-big,
  .ui-component-button-normal { padding: .75rem 1rem .875rem; }
  
  .ui-component-button-big { width: 100%; }
  
  .ui-component-button-normal { width: fit-content; }
  
  /*--------------------------------------------------------------
  |
  | 6.3 TOGGLE
  |
  --------------------------------------------------------------*/
  
  input[name="toggle"] { display: none; }
  
  .ui-component-toggle {
    background-color: var(--ui-color-background-tertiary);
    border-radius: var(--ui-radius-button);
    color: var(--ui-color-typography-note);
    font-size: var(--ui-typography-s);
    font-weight: 700;
    line-height: 1;
    margin: var(--ui-gap-pricing) auto .5rem;
    padding: .25rem;
    width: max-content;
  }
  
  .ui-component-toggle--label {
    border-radius: var(--ui-radius-button);
    cursor: pointer;
    padding: .5rem .625rem;
  }
  
  #ui-component-toggle__monthly:checked ~
  div label[for=ui-component-toggle__monthly],
  #ui-component-toggle__yearly:checked ~
  div label[for=ui-component-toggle__yearly] {
    background-color: var(--ui-color-background-primary);
    color: var(--ui-color-typography-body);
  }
  
  /*--------------------------------------------------------------
  |
  | 6.4 CARD
  |
  --------------------------------------------------------------*/
  
  .ui-component-card {
    border: .0625rem solid var(--ui-color-border);
    border-radius: var(--ui-radius-card);
    overflow: hidden;
    width: 100%;
  }
  
  /*--------------------------------------------------------------
  |
  | 6.5 LIST
  |
  --------------------------------------------------------------*/
  
  .ui-component-list {
    grid-template-columns: 1fr;
    row-gap: .75rem;
  }
  
  .ui-component-list--item {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.125rem;
    list-style: none;
    padding-left: 1.875rem;
  }
  
  .ui-component-list--item-check {
    background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/check.svg);
  }
  
  .ui-component-list--item-cross {
    background-image: url(https://res.cloudinary.com/uisual/image/upload/assets/icons/cross.svg);
  }
  .ui-component-list--item {
    background-size: 1.25rem;
    padding-left: 2rem;
  }
  .ui-section-hero .ui-component-cta { align-items: start; }
  .ui-component-card--pricing { padding: 2rem 2rem 2.25rem; }

@media screen and (min-width: 48rem) {

}

@media screen and (min-width: 64rem) {
}

@media screen and (min-width: 75rem) {
}



