section{
    font-size: larger;
    padding: 0 32px;
}
.section-1{
    min-height: 340px;
}
.section-2{
    min-height: 300px;
}
.sub-section-1{
    width: 400px;
    height: 100%;
    /* padding-right: 60px; */
    /* margin: 50px 20px 20px 0; */
}
.sub-section-1 p,
.sub-section-1 h1{
    text-align: right;
    width: 100%;
}
.sub-section-1 div{
    margin-top: 40px;
}
.sub-section-1 a{
    /* margin-top: 50px; */
    text-align: right;
    width: calc(50% - 16px);
    /* padding: 8px; */
}
.sub-section-1 .visit{
    border-radius: 8px;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    animation: animatedgradient 10s ease alternate infinite;
    background-size: 300% 300%;
    padding: 4px 4px;
    height: 28px;
}
.sub-section-1 .visit-black{
    border-radius: 8px;
    background: black;
    padding: 4px 4px;
    height: 28px;
}
.sub-section-1 .visit p,
.sub-section-1 .visit-black p{
    height: 100%;
    border-radius: 6px;
    background-color: white;
    text-align: center;
}
.section-2 .box{
    max-width: 550px;
    min-width: 470px;
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-section-2{
    border-radius: 6px;
    background-color: whitesmoke;
    width: 450px;
    height: 200px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.sub-section-2 h1{
    max-width: 250px;
    overflow: hidden;
}
.sub-section-2 p{
    max-width: 250px;
    max-height: 350px;
}
.sub-section-2 div{
    border-radius: 3%;
    margin: 10px;
    height: 180px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;;
    background-position: center;
}
.sub-section-2 a{
    /* margin-left: 4px; */
    color: #5073b8;
}
.bi-cloud-arrow-down,
.bi-play-fill,
.bi-link-45deg,
.bi-x{
    position: relative;
    top: 1px;
}
/* .ui-component-card--image{
    background-image: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;;
    background-position: center;
  } */

@media screen and (min-width: 48rem) {
}

@media screen and (min-width: 64rem) {
}

@media screen and (min-width: 75rem) {
}